<p style="background-color: red;" [style.color]="title">{{title}}</p>
<p><input #newInput type='text' value='123'/></p>
<p><input type='text' value={{title}}/></p>
<p><input type='text' [value]="title"/></p>
<p><input [(ngModel)]="title"/></p>
<p><button (click)='setTitle()'>Добавить Undefined</button></p>
<p><button (click)='setTitle("5")'>Добавить строку</button></p>
<p><button (click)='setTitle(newInput.value)'>Добавить параметр по id Angular</button></p>

<new-one title="Hello" t="t_value" (onchange)="setTitle($event)">
  <p>Текст в дочернем компоненте!</p>
</new-one>
